* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

ul {
    list-style: none;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

li {
    position: relative;
    padding: 11px 65px 11px 15px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    padding: 6px 8px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d9534f;
}

form {
    height: 44px;
    line-height: 44px;
}

input {
    border: 0;
    width: 100%;
    height: 35px;
    padding: 0 15px;
    margin-bottom: 15px;
    line-height: 21px;
    background-color: #fff;
    outline: none;
    -webkit-appearance: none;
}

span::before {
    content: "\2613";
}
